[submodule "redisearch"]
	path = redisearch
	url = git@github.com:bsbodden/JRediSearch.git
[submodule "redisjson"]
	path = redisjson
	url = git@github.com:bsbodden/JRedisJSON.git
[submodule "redisgraph"]
	path = redisgraph
	url = git@github.com:bsbodden/JRedisGraph.git
[submodule "redisbloom"]
	path = redisbloom
	url = git@github.com:bsbodden/JRedisBloom.git
[submodule "redistimeseries"]
	path = redistimeseries
	url = git@github.com:bsbodden/JRedisTimeSeries.git
[submodule "redisai"]
	path = redisai
	url = git@github.com:bsbodden/JRedisAI.git
