<!-- Redis OM Spring footer content -->
<footer class="footer">
  <div class="redis-footer">
    <div class="redis-footer-links">
      <a href="https://redis.io/" target="_blank">Redis.io</a> |
      <a href="https://github.com/redis/redis-om-spring" target="_blank">GitHub</a> |
      <a href="https://discord.gg/redis" target="_blank">Discord</a> |
      <span class="redis-footer-copyright">&copy; 2024 Redis Inc.</span>
    </div>
  </div>
</footer>