---

name: Publish Snapshot

on:
  workflow_run:
    workflows: [Integration]
    types: [completed]
    branches:
      - main
      - '[0-9].[0-9]'

jobs:

  snapshot:
    name: Deploy Snapshot
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: cache
        uses: actions/cache@v2
        with:
          path: |
            ~/.mv2/repository
        key: om-${{hashFiles('**/pom.xml')}}
      - name: Set up JDK 17
        uses: actions/setup-java@v1
        with:
          java-version: 17
          distribution: 'adopt'
          server-id: ossrh
          server-username: MAVEN_USERNAME
          server-password: MAVEN_PASSWORD
      - run: mvn dependency:go-offline
        run: mvn integration-test
      - run: mvn cobertura:cobertura
      - name: codecov
        run: |
          curl -s https://raw.githubusercontent.com/codecov/codecov-bash/master/codecov
      - name: deploy
        run: |
          mvn --no-transfer-progress \
            -DskipTests deploy
        env:
          MAVEN_USERNAME: ${{secrets.OSSRH_USERNAME}}
          MAVEN_PASSWORD: ${{secrets.OSSRH_TOKEN}}
